*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #0F0F0F;
    font-family: 'Roboto', sans-serif;
}
span{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
}

/* Navtiavtion Bar */
nav{

    padding-left: 16px;
    padding-right: 16px;
    height: 56px;
    width: 1349px;
    /* background-color: white; */
    display: flex;
    flex: 3;
    flex-direction: row;
    justify-content: space-between;
    /* border-bottom: 1px solid white; */
}
.left-header{
    height: 55px;
    width: 169px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.material-symbols-outlined{
    color: white;
}
.hamburger{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.menu{
    padding: 8px;
    height: 24px;
    width: 24px;
}
#text-logo{
    height: 30px;
    width: 90px;
    margin-left: 16px;
    margin-right: 14px;
    margin-top: 18px;
    margin-bottom: 18px;
}

/* Search Bar */
input{
    width: 500px ;
    height: 20px;
    display: inline-flex;
    box-sizing: border-box;
    border-right:1px solid #1C1C1C;
    border-left: 1px solid #1C1C1C;
    border-radius: 20px 0px 0px 20px;
    padding-bottom:18px ;
    padding-left: 10px;
    padding-top: 18px;
    margin:0;
    outline: none;
}
.input-box{
    background-color: #222222;
    border-radius:20px 0px 0px 20px ;

}
.search-bar{
    height: 55px;
    width: 732px;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.search-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 10px;
}
#search-button-area{
    display: inline-flex;
    height: 40px;
    width: 64px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 22px 22px 0px;
    background-color:#222222;
    display: flex;
    justify-content: center;
}
.search{
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    padding: 8px;
    /* background-color: #222222; */
}
.search-button{
    padding: 8px;
    background-color: transparent;
}
i{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    background-color: transparent;
    color: #fff;
}
.mic-icon{
    height: 24px;
    width: 24px;
    background-color: #262626;
    display: flex;
    justify-content: center;
    padding: 10px;

}
.mic-icon-area{
    background-color:#222222;
    height: 40px;
    width: 40px;
    border-radius: 50px 50px 50px 50px;
    display: flex;
    justify-content: center;
    padding: 8px;
    margin-top: 5px;
    border-radius: 1px solid #262626;
}

/* Right headers */
.right-icon{
    height:40px;
    width: 40px;
    font-size: 24px;
    display: inline-flex;
    justify-content: center;
    color: white;
    padding: 8px;
}
.header-right-icons{
    width: 156px;
    height: 55px;
}



.dropmenu{
    display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* ===================================================== */
.popup_container{
    width:max-content;
    height: max-content;
    background-color: #3F3F3F;
    padding: 8px; 
    overflow: hidden;
    position: absolute;
    top: 50px;
    right: 140px;    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    display: none;
    transition: height 0.5s ease-in-out;
    border-radius: 6px;
}
.show{
    display: block;
}
.person,.person_details{
    background-color: #3F3F3F;
}
h5,h4,h6{
    display: inline;
    background-color: #3F3F3F;
    margin: 1px;
}
h4{
    font-size: 20px;
    margin: 1px;
}
h5{
    font-size: 17px;
}
h6{
    font-size: 14;
}
.details{
    background-color: #3F3F3F;
}
.account_icon i{
    
    height: 10px;
    width: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;

}
.account_icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* display: inline; */
    background-color: rgb(46, 46, 46);
    color: white;
    display: flex;
    justify-content: center;
    margin: 10px;
}
.icon{
    font-size: 20px;
    margin: 10px;
    background-color: #3F3F3F;
}
.account_actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#3F3F3F ;
}
span{
    width: 40px;
    background-color: #3F3F3F;
}
.account_actions span{
    padding-right:10px;
    margin: 5px;
    color: white;
}
.account_actions span i{
    background-color: #3F3F3F;
}
.account_actions h5{
    color: white;
}
.settings_tab{
    background-color: #3F3F3F;
}
.settings_tab span{
    padding-right: 10px;
    margin: 5px;
    color: white;
    background-color: #3F3F3F;
}
.settings_tab span a i{
    background-color: #3F3F3F;
}
.person{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.person_details{
    display: flex;
    flex-direction: column;
    flex: 3;
    color: white;
} 
.settings_tab span a{
    display: flex;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    background-color: #3F3F3F;
    margin: 5px;
}
.dropmenu:hover .popup_container {
    display: block;
} 

  